.wrapper {
    transition: .2s all;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
}

.middle {
    padding-top: 40vh;
    font-size: 20px;
    font-weight: bold;
}

.menu li:hover {
    opacity: 0.5;
}

.menu li {
    margin: 0 9px;
    transition: 0.2s all;
}

.menu li:last-child {
    margin: 0;
}

.menu-icon {
    font-size: 18px;
    margin: 0;
}